<html ng-app="numapiModule">
    <head>
        <script src="angular.js"></script>
        <script>        
                    var count=1;
                    var search1=[];
                    angular.module('numapiModule',[])
                    .controller('numapiController',['$scope','$http',function($scope,$http){
                        $scope.no;
                        $scope.srt;
                        $scope.fact=[];
                        $scope.numberList=[];
                        $scope.time=[];
                        var factCount=0;
                        $scope.add=function(){
                            $http.get("http://numbersapi.com/"+$scope.no+"/math")
                            .then(function(response) {
                                // display(no,response);
                                var currentdate = new Date(); 
                                $scope.time1=currentdate.getHours()+":"+currentdate.getMinutes()+":"+currentdate.getSeconds();
                                $scope.numberList[factCount]=$scope.no;
                                $scope.fact[factCount]=response.data;
                                $scope.time[factCount]=$scope.time1;
                                factCount++;
                                console.log(response.data);
                            });
                            console.log("end of add");
                        }
                    }]);
        </script>
    </head>
<body style="padding: 10px" ng-controller="numapiController">
    <input placeholder="Search..." type="text" id="txt" ng-model="no"> 
    <button id="search" value="Search" ng-click="add()">Search</button>
    <br><br>    
    <table id="num"  border="1|0">
        <col width="80">
        <col width="610">
        <col width="80">
        <thead>
        <tr>
            <th>NUMBER</th>
            <th>FACT</th>
            <th> TIME</th>
        </tr>
        </thead>
        <tr ng-repeat="i in fact">
            <td>{{::no}}</td>
            <td>{{i}}</td>
            <td>{{::time1}}</td>
        </tr>
    </table>    
    <div id="a"></div>
</body>
</html>